    
    body{
       background-color: #dff7ff;
    }
    header {
      background-color: #1e88e5;
      color: white;
      padding: 20px;
      text-align: center;
    }
    nav {
      display: flex;
      justify-content: center;
      gap: 20px;
      background-color: #1565c0;
      padding: 10px;
    }
    nav a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
    section {
      padding: 20px;
    }
    textarea {
      display: block;
      width: 15%;
      margin-bottom: 5px;
      padding: 10px;
    }
    button {
      padding: 10px 20px;
      background-color: #1e88e5;
      color: white;
      border: none;
      cursor: pointer;
    }
        footer {
      background-color: #1e88e5;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 20px;
    }